html, body, h1, h2, h3, h4, h5, h6 { font-family: "Roboto", sans-serif }

/*
body { color: #000 !important;
		background: -webkit-linear-gradient(top,#5c1e7b 25%, #dda0dd 75%)}
*/

/*Wrapper for page wrapper to ensure correct display on very large screens*/
#header-wrapper, #body-wrapper, #footer-wrapper { width:100%; margin:auto; }

/*Product Listing CSS*/
img.nb-product-image { width: 100%; }
.w3-card-2 {min-height: 700px} /*Workaround for issues with card heights - needs to be addressed properly */

/*Navbar CSS*/
.w3-sidenav a, .w3-sidenav h4 { padding: 12px; }
.w3-navbar a { padding-top: 12px !important; padding-bottom: 12px !important; }
#nav-left, #nav-right, #nav-login, #nav-basket, #nav-search { display: inline-block; padding: 5px; }
#tipue_search_input { display: inline-block; border-radius: 5px 0px 0px 5px; width: 95%; height: 45px; }
#nb-search-icon { display: inline-block; border: 1px solid grey; background-color: grey; border-radius: 0px 5px 5px 0px; width: 5%; height: 45px; text-align: center; }
.nb-fixed-top { position: fixed; top: 0; }


/*Breadcrumb CSS*/
/*.breadcrumb { 
 	font-size: 0.8em;
 	color: #000;
 	background-color: #FFCF29;
 	border: 1px #00009C solid;
 	padding: 0.5em;
}*/

/*Registration Form Specific CSS*/
.nb-register-form { margin-left:15px; margin-bottom:10px; }
.nb-register-input { float: left; }
.nb-register-td { width:50%; text-align:right; }
.nb-register-form { margin-bottom:15px; }
.nb-register-form h4 { text-align:center; }

/*Basket specific CSS*/
#order-header{border-bottom: 1px solid black;}	
#order-footer{border-top: 1px solid black;}
.basket{padding:10px;}	
.orderline td{border-bottom: 1px solid grey;}
.quantity{width:50px;}
.price{width: 100px;}